@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: ease;
}

html {
  height: 100%;
}

body {
  background-color: white;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  bottom: -150px;
  margin: 0;
  padding: -100px;
  min-height: 100%;
}

header {
display: inline-block;
position: relative;
width: 100%;
padding: 0px;
}

.topnav {
display: flex;
position: relative;
justify-content: space-between;
align-items: center;
background: white;
color: black;
}

.topnav-links {
    height: 100%;
}

.topnav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.topnav-links li {
  list-style: none;
}

.topnav-links li a {
  display: block;
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  width: 40px;
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}


@media (max-width: 800px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: block;
    }

    .topnav-links {
        display: none;
        width: 100%;
    }

    .topnav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .topnav-links ul li {
        text-align: center;
    }

    .topnav-links ul li a {
        padding: .5rem 1rem;
    }

    .topnav-links.active {
        display: flex;
        color: black;

    }
}


services {
 position: relative;
}

services:hover .dropdown {
 display: block;
}

dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: inline-block;
 border-radius: 8px;
 top: 35px;
}
dropdown li + li {
 margin-top: 10px;
}
dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}

wrapper {
  padding: 16px;
  margin-top: 100px;
  height: 1200px; /* Used in this example to enable scrolling */
}

section {
   height: 700px;
   margin-left: 0;
   margin-right: 0;
   padding-top: 200px;
   align-content: center;

}

footnote_wrapper {
  text-align: center;
  display:flex;
  justify-content:center;
  height: 300px; /* Used in this example to enable scrolling */
}
footnote_navbar {
  background-color: rgba(0,0,0,0);
  min-width:300px;
  overflow: hidden;
  position: relative;
  top:0;
  left:0;
  height:300px;
}

footnote_navbar a {
  display: inline-block;
  margin: 0 2px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

footnote_navbar a:hover {
  background: #f1f1f1;
  color: black;
}

footnote_navbar a.active {
  background-color: #04AA6D;
  color: white;
}


/* Títulos e subtítulos */
h1 {
  color: black;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 2em;
  text-transform: uppercase;
}

h2 {
  font-family: Helvetica;
  font-size: 50pt;
  color: white;
  text-align: right;
}

h3 {
  font-family: Helvetica;
  font-size: 50pt;
  padding-top: 12px;
  color: white;
  text-align: right;
}

h4 {
  font-family: Helvetica;
  font-size: 30pt;
  color: black;
}

h5 {
  font-family: Helvetica;
  font-size: 12pt;
  color: white;
}

p {
  color: white;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.75;
  padding-left: 0;
  padding-right: 0;

}
/* Imagens */

/* frame */
figure.style_image{
  background-color: gray;
  position: relative;
  border: 40px solid black;
  /*box-shadow: 8px 8px 12px gray;*/
  width:560px;
  height:810px;
  display: block;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
  padding: -15px;
}

/* Tamanho imagem */
figure.style_image img {
  width:250px;
  height:350px;
  float: left;
}


/* Caption */
figure.style_image figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0);
  color: white;
  width:100%;
  height:100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.30s;
  display: table-caption;
  text-align: center;
  padding-right: 40px;
}

figure.style_image:hover figcaption{
  opacity: 1;
}

figure.style_image2{
  background-color: #FF0000;
  position: relative;
  border: 30px solid black;
  /*box-shadow: 8px 8px 12px gray;*/
  width:750px;
  height:410px;
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Tamanho imagem */
figure.style_image2 img {
  width:250px;
  height:350px;
  float: left;
}

figure.style_image2 figcaption {
  text.opacity: 1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,178,178,0.1);
  color: white;
  width:100%;
  height:100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
  display: table-caption;
  text-align: center;
  padding-right: 40px;
}

figure.style_image2:hover figcaption {
  filter: brightness(30%);
    transition: filter 6s ease;
}

/*Vídeos*/

div.center {
  text-align: center;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}



/*Buttons*/
/*Main Wrap*/

.btn {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 150px;
  max-height: 150px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

  &:hover { text-decoration: none; }

}

topnav {
  display: none;
}
}

.button {
    display: block;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}


/*Button Wrap*/
.container {
    align-items: center;
    vertical-align: middle;
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    height: 100%;
}


.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 100;

  svg {
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba(0,0,0, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

#topnav-left {
  float: left;
  position: fixed;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
}

#logo-img {
  max-width: 30px;
  max-height: 30px;
  float:left;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  text-align: left;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.text {
  margin-bottom:36px;
}


.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
  text-align: left;
}

.footer-dark .item.social {
  text-align:center;
}


.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  text-align: justify;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  text-align: justify;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.fa-github {
  color: black;
}

/*Tablets*/

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

@media only screen and (max-width:768px) {

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.toggle-button {
  display: flex;
}

.topnav{
  flex-direction: column;
  align-items: flex-start;
}

.topnav-links {
  display: none;
  width: 100%;
}

.topnav-links ul {
  width: 100%;
  flex-direction: column;
}

.topnav-links li {
  align-items: center;
}

.topnav-links li a {
  padding: .5rem 1rem;
}

.topnav-links.active {
  display: flex;
}


figure.style_image figure.style_image2 img {
  display: flex;
}

section {
  display:flex;
  margin-top: 0px;
  margin:0;
  padding: 0;
  font-size: 1.25rem;
  align-content: center;
}

h1 {
font-size: 1.25rem;
}

h3 {
font-size: 1.25rem;
}

p {
  margin-left: 0;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 0;
}

.footer-dark {
  margin: 0;
  padding: 0;
}

.demobox {
  height: 100%;
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  background-color: white;
  padding: 0;
  font-size: 1em;
  word-wrap: break-word;
}


}


/* For mobile phones: */

@media (max-width:414px){
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


header .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.toggle-button {
  display: flex;
}

.topnav{
  flex-direction: column;
  align-items: flex-start;
}

.topnav-links {
  display: none;
  width: 100%;
}

.topnav-links ul {
  width: 100%;
  flex-direction: column;
}

.topnav-links li {
  align-items: center;
}

.topnav-links li a {
  padding: .5rem 1rem;
}

.topnav-links.active {
  display: flex;
}


figure.style_image figure.style_image2 img {
  display: flex;
}

section {
  display:flex;
  margin-top: 0px;
  margin:0;
  padding: 0;
  font-size: 1.25rem;
  align-content: center;
}

h1 {
font-size: 1.25rem;
}

h3 {
font-size: 1.25rem;
align-items: center;
}

p {
  margin-left: 0;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 0;
}

.demobox {
  height: 100%;
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  background-color: white;
  padding: 0;
  font-size: 1em;
  word-wrap: break-word;
}

}

.flip-box {
  background-color: transparent;
  margin-top: -20px;
  margin-left: 40px;
  width: 400px;
  height: 550px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100px;
  height: 200px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.demobox {
  height: 500px;
  width: 700px;
  margin-right: 60px;
  margin-left: 40px;
  float: left;
  text-align: justify;
  text-justify: inter-word;
  background-color: white;
  padding: 10px;
  word-wrap: break-word;

}

#wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 10px;
}

#home1 {
    width: 47.5%;
    height: 300px;
    float: left;
    margin-right: 5%;
}

#home2 {
    width: 47.5%;
    height: 300px;
    float: right;
}

.clear{
    clear: both;
}

@media (max-width:767px) {
    #wrapper{
        width: 100%;
        height: auto;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media only screen and (max-width:480px) {

  .leftcolumn .rightcolumn {
    margin: 1% 0 1% 0;
  }
}
@media only screen and (max-width: 480px) {

  .leftcolumn .rightcolumn {
    width: 100%;
    }
}

/*  SECTIONS  */
section {
	clear: both;
	padding-bottom: 0px;
	margin-top: 30px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_1_of_2 {
	width: 75%;
  margin-left: 0;
}

.span_2_of_2 {
	width: 25%;
  margin-left: 0;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 1024px) {
	.col .rightcolumn .leftcolumn {
		margin: 1% 0 1% 0%;
    float: left;
	}
}

@media only screen and (max-width: 1024px) {
	.span_1_of_2, .span_2_of_2 {
    width: 100%;
  }
  .rightcolumn{
    width:100%;
    float: left;
  }
}

.tbox, btn-2 {
  border: none;
  outline: none;
}


.tbox {
  width: 0;
}

.email:hover > .tbox, btn-2:focus {
  width: 260px;
  transition: 0.6s;
}
.container-2 {
  padding: 0 10px;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: left;
  align-items: center;
  color: black;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 250px;
  border: 15px solid transparent;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  justify-content: center;
}

@media only screen and (min: 568px) {
  .box {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max: 1366px) {
  .box {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
  }
}
